/* Clean slate */
@import url("reset.css");

body {
  font-size: 87.5%; /* Base font size: 14px */
  font-family: 'RobotoDraft', 'Helvetica Neue', Verdana, Arial, sans-serif;
  line-height: 1.429;
  padding: 0;
  text-align: left;
  width: 100%;
}

/* HTML5 tags */
header, hgroup, section, footer, aside, nav, article, figure { display: block; }

/* Headings */
h1 { font-size: 2em }
h2 { font-size: 1.571em }	/* 22px */
h3 { font-size: 1.429em }	/* 20px */
h4 { font-size: 1.286em }	/* 18px */
h5 { font-size: 1.143em }	/* 16px */
h6 { font-size: 1em }		/* 14px */

.body {
  max-width: 800px;
  margin: 0px auto;
  width: 70%;
}

.body h2 {
  margin: 1em 0;
}

.body p, li {
  margin-bottom: 1em;
}

.body p.intro {
  font-weight: bold;
}

.map-container {
  display: block;
  height: 320px;
  margin: auto;
  padding: 16px;
  width: 480px;
}

.menu-icon {
  margin-right: 15px;
}

img.avatar {
  border-radius: 50%;
  display: block;
  float: left;
  height: 150px;
  margin: 0 25px 25px 0;
  width: 150px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#site-header {
  background-color: #db4437;
}

#about-menu {
  color: #db4437;
}

#link-menu {
  color: #0f9d58;
}

#contact-menu {
  color: #4285f4;
}
